@{
    ViewData["Title"] = "Home Page";

    Layout = "~/Views/Shared/_admin.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1>Hoş Geldiniz</h1>
</div>
<!-- /.container-fluid -->